# Auto detect text files and perform LF normalization
* text=auto

# Custom for Visual Studio
*.cs     diff=csharp

# Standard to msysgit
*.doc	 diff=astextplain
*.DOC	 diff=astextplain
*.docx diff=astextplain
*.DOCX diff=astextplain
*.dot  text=auto
*.DOT  text=auto
*.pdf  diff=astextplain
*.PDF	 diff=astextplain
*.rtf	 diff=astextplain
*.RTF	 diff=astextplain
*.ini	 text=auto
*.INI	 text=auto
*.inc	 text=auto
*.INC	 text=auto
*.lua	 text=auto
*.LUA	 text=auto